{% extends "base.html" %}

{% block head_title%}
    hello from home.html
{% endblock %}


{% block content %}

    <h1>Hello World</h1>

    <div>
        {% comment %} default method for forms is GET {% endcomment %}
        <form method="POST" action=".">
            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>

        </form>
    </div>

{% endblock %}
